<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Certificate</title>
</head>
 <body>
 <div class="container" style="height: 595px; width: 842px; background-color: bisque;">
  <div class="header">
   <h1>CERTIFICADO</h1>
   <p class="certificate_about">de alguma coisa ou nada</p>
  </div>
  <div class="container-main-text">
   <p class="certificate_to">Confiro o presente certificado a</p>
   <span class="certified_name">
         EMERSON VITORIO DE OLIVEIRA
   </span>
   <p class="documents">
    <span class="document1">documento n1. 2222</span>
   </p>
   <p class="reason">por participar do curso</p>
   <span class="course">CURSO DA VIDA</span>
   <p class="date">
    ministrado nos dias: 10, 11 e 12 de janeiro de 2020, pelo(a) ANY OF THEM, com <strong>32 horas</strong> de carga horária total.
   </p>
  </div>
  <div class="container-signature">
   <p class="local-and-date">
    São Paulo, 11 de janeiro de 2020.
   </p>
   <div class="signatures">
    <p class="signature1">Nome de quem assina</p>
   </div>
  </div>
 </div>
 </body>
</html>